{% extends 'base.html' %}
{% block conteudo %}
<div class="container">
    <h1 style="text-align: center;" class="text-dark">Registrar</h1>
    <div class="table table-responsive">
        <form class="mb-3" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }} 
            <input type="submit" name="" value="Registrar">
        </form>
    </div>
    <!-- <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="hqO8wXkJmmgldWraXlWdsIDBTIIBZpmGxrkaahcJ9XM82iIz94jih5v5zNyP1lEm">
        <label for="id_username">Usuário:</label>
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"><br>
        <label for="id_password1">Senha:</label>
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"><br><span class="helptext"><ul><li>sua senha deve conter letras, numeros e @/./+/-/_ entre outros </li></ul></span>
        <label for="id_password2">Confirmação de senha:</label>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"><br><span class="helptext">Digite novamente a senha</span>
        <input type="submit" name="" value="Registrar">
    </form> -->
</div>
{% endblock %}